@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-underline {
    @apply absolute w-full bottom-[0.1rem] bg-[#444] h-[0.01rem];
  }
}

body {
  /* font-family: "Baskerville", Georgia, "Times New Roman", Times, serif; "Cabin"*/
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}

/* range */

#double-thumb-range .noUi-base {
  height: 0.5rem;
}

.noUi-base .noUi-connect {
  background: #434d5b;
  height: 0.5rem;
}

#double-thumb-range.noUi-horizontal {
  height: 0.5rem;
}

#double-thumb-range.noUi-target {
  background: #dde0e2;
  width: 100%;
}

.noUi-base .noUi-origin .noUi-handle {
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  top: -0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.noUi-base .noUi-origin .noUi-handle::before,
.noUi-base .noUi-origin .noUi-handle::after {
  display: none;
}

[x-cloak] {
  display: none;
}
